body {
    background-color: aquamarine;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
}

.card {
    background-color: yellow;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: black 1px 3px 6px 3px;
}

.question-ans {
    font-weight: 700;
}

.ans {
    font-weight: 700;
}